{% extends 'base.html' %}
{% block content %}
{% load static %}

<header id="home" class="bg-yellow-300 py-3 px-16 fixed top-0 left-0 right-0 z-50">
  <nav class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5">
      <a href="http://127.0.0.1:8000/"><img src="{% static 'core/kebab.webp' %}" alt="Kebab"
      class="w-24 rounded-3xl drop-shadow-2xl hover:animate-pulse"></a>
      <p class="mt-2 text-3xl font-bold italic text-slate-900">
        Find best<span class="before:block before:absolute before:-inset-1 before:-skew-y-3
        before:bg-pink-500 relative inline-block mx-2">
        <span class="relative text-white">kebab</span></span>!
      </p>
    </div>
    <div class="font-bold text-black mb-5">
      <ul class="flex text-3xl font-bold italic space-x-10">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'home' %}#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>

<aside class="w-56 fixed top-28 left-0 bottom-0 z-50 h-screen bg-green-300/70 p-3 mt-2">


  <div class="flex my-5 text-center justify-center">
    <ul class="font-bold">
    {% comment %} <ul class="w-full flex-grow lg:flex lg:items-center lg:w-auto text-lg"> {% endcomment %}
      {% if user.is_authenticated %}
      <!-- fetch user from database -->
      <li>
        <p>Hi {{ user.username }}!</p>
        <a href="{% url 'core:logout' %}">Log Out</a>
      </li>
      {% else %}
      <li>
        <p class="underline mb-1">You are not logged in</p>
        <div class="space-x-4 text-xl">
          <a href="{% url 'core:login' %}"  class="hover:text-green-700">Log In</a>
          <a href="{% url 'core:signup' %}"  class="hover:text-green-700">Sign Up</a>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>

  <div>
    <form action=""></form>
  </div>
</aside>

<main class="flex-1 ml-56 pt-36">

  <!-- content of home page like pictures, reviews etc -->
  {% comment %} <div class="grid grid-cols-4 gap-12 mt-6"> {% endcomment %}
    <div class="p-10">
      Restaurant
      <div class="">
        {% for user in users %}
        <h2>{{ user.username }}</h2>
        <p>{{ user.email }}</p>
        {% endfor %}
      </div>
      {% comment %} {% if restaurant.picture %} {% endcomment %}
      {% comment %} <div class="rounded shadow-2xl border-8 border-green-200"> {% endcomment %}
        {% comment %} <img class="m-0 p-0" {% endcomment %}
        {% comment %} src="{{ restaurant.picture.url }}" alt="{{ restaurant.menu }} image"/> {% endcomment %}
      {% comment %} {% endif %} {% endcomment %}
        {% comment %} <div class="bg-white/50 h-56 w-full p-0">
          <h2 class="text-xl p-5 underline underline-offset-6 text-gray-600 font-bold"
          >Menu{{ restaurant.name }}</h2>
          <p class="px-5 text-gray-600 text-xs">{{ restaurant.address }}</p>
          <p class="px-5 text-gray-600">{{ restaurant.website }}</p>
          <p class="px-5 text-gray-600">{{ restaurant.tel }}</p>
          <div class="text-gray-600 bg-teal-500 mx-14 text-center rounded py-1
          mt-5 hover:bg-teal-500">
          <a href="{% url 'detail' id=restaurant.id %}">Show more</a>
        </div> {% endcomment %}
      {% comment %} {% endfor %} {% endcomment %}
    </div>  

  <div id="about" class="p-10">
    <h1 class="text-4xl italic font-bold mb-4">
      <span class="before:block before:absolute before:-inset-1 before:-skew-y-3
        before:bg-pink-500 relative inline-block mx-2">
        <span class="relative text-white p-1">About</span></span></h1>
    <p class="text-lg mb-2 font-medium">
      This website is a review website focused on kebabs. <br>
      This mainly provide you with menu prices, reviews, restaurant information, <br> 
      and ratings related to kebabs. Users who create an account can leave reviews as well. <br> 
      Here's a brief overview of each of the website's features: <br>
    </p>
    <ul>
      <li><p class="italic font-semibold underline">● Menu Prices:</p>
        We will provide you with up-to-date menu prices for various kebab dishes
        from different restaurants.</li>
      <li>
        <p class="italic font-semibold underline">● Reviews:</p>
        You can leave reviews of their experiences at kebab restaurants, including
        comments on the food, service, and overall atmosphere.
      </li>
      <li>
        <p class="italic font-semibold underline">● Restaurant Information:</p>
        We offer you detailed information about kebab restaurants.
      </li>
      <li>
        <p class="italic font-semibold underline">● Ratings:</p>
        You can rate restaurants based on their overall experience, including the quality
          of the food, service, and atmosphere.
      </li>
      <li>
        <p class="italic font-semibold underline">● User Accounts:</p>
        You can create an account to leave reviews and save their favorite restaurants.
      </li>
    </ul>
  </div>

</main>

{% endblock content %}