{% extends 'core/base.html' %} {%load static%} {% block content %}

<div class="flex flex-col items-center justify-center h-screen bg-white">
    <section style="border: 1px solid gray; padding: 2rem; border-radius: 0.5rem;">
      <div class="bg-amber-500 w-full mb-2 py-1 rounded-full">
        <h2 class="text-3xl font-bold mb-4 text-center text-white">
          Log In To Your Account
        </h2>
      </div>
      {% if error %}
      <p><strong>Invalid email or password.</strong></p>
      {% endif %}

      <form method="post" class="w-full max-w-md">
        <div class="mb-4 block text-dark-700 font-bold text-lg">
          {% csrf_token %} {{ form.as_p }}
        </div>

        <div class="text-center">
          <button type="submit" class="bg-amber-600 hover:bg-amber-800 text-white font-bold py-2 px-4 rounded mt-4">
            Log In
          </button>
          <div class="mt-4">
            <p class="text-gray-600">
              Don't have an account?
              <a href="{% url 'core:signup' %}" class="underline text-amber-500 hover:text-amber-800">Register an account here</a>
            <div>
              <a href="#" class="text-amber-500 hover:text-amber-800">Forgot password?</a>
            </div>
            <a
              href="{% url 'core:top' %}"
              class="underline text-blue-500 hover:text-amber-800"
            >
              Back to Top page</a
            >
            </p>
          </div>
        </div>
      </form>
    </section>
  </div>
  {% endblock content %}