{% extends 'core/base.html' %} {% block content %}

<!-- body  -->
<div class="flex items-center justify-center h-screen mt-0 pt-4">
  <div class="w-4/5 p-4">
    <!-- aside -->
    <div class="w-1/5 p-4">
      <aside class="w-48 bg-black shadow-md fixed h-full font-bold text-white">
        <ul class="flex flex-col space-y-4 py-4 px-2">
          <li>
            <h1 class="text-start items-start justify-start font-bold text-2xl">
              My page
              <hr class="border-gray-200 border-1" />
            </h1>
          </li>
          <li>
            <a href="{% url 'core:top' %}" class="hover:text-amber-800">
              Home</a
            >
          </li>
          <li>
            <a
              href="{% url 'core:password_change' %}"
              class="hover:text-amber-800"
              >Change Password</a
            >
          </li>
          <li>
            <a
              href="{% url 'core:account_settings' %}"
              class="hover:text-amber-800"
              >Settings</a
            >
          </li>
          <li>
            <form method="post" action="{% url 'core:logout' %}">
              {% csrf_token %}
              <button type="submit" class="hover:text-amber-800">Logout</button>
            </form>
          </li>
        </ul>
      </aside>
    </div>
    <!-- list view of profile cards -->
    <div class="flex flex-col-reverse justify-center ml-64">
      {% for review in reviews reversed %}
      <div
        class="border-2 border-black shadow-md p-4 w-full my-4 relative hover:bg-slate-100"
      >
        <a href="{% url 'core:detail' id=review.id %}" class="flex">
          <img
            src="{{ review.image.url }}"
            alt="Review Image"
            class="max-w-sm max-h-xs mr-4"
          />
          <div class="flex-1">
            <strong>Created:</strong> {{ review.created_at }}
            <br />
            <strong>Menu:</strong> {{ review.menu }}
            <br />
            <strong>Restaurant:</strong> {{ review.restaurant.name }}
          </div>
        </a>
        <!-- parent div for delete/edit button -->
        <div class="absolute top-40 right-5">
          <div class="flex gap-2">
            <form
              action="{% url 'core:delete_review' id=review.id %}"
              method="POST"
            >
              {% csrf_token %}
              <button
                type="submit"
                class="bg-red-500 text-white px-4 py-2 text-sm rounded-full hover:bg-red-700"
              >
                Delete
              </button>
            </form>
            <a
              href="{% url 'core:edit_review' id=review.id %}"
              class="bg-green-500 text-white px-4 py-2 text-sm rounded-full mr-2 hover:bg-green-700"
            >
              Edit
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
