{% extends 'core/base.html' %} {% block content %}

<!-- body  -->
<div class="flex items-center justify-center h-screen mt-16 pt-4">
  <div class="w-4/5 p-4">
    <!-- aside -->
    <div class="w-1/5 p-4">
      <aside
        class="w-48 bg-slate-100 shadow-md fixed h-screen top-0 font-bold text-black"
      >
        <ul class="flex flex-col space-y-4 py-4 px-2">
          <li>
            <h1
              class="text-start items-start justify-start mt-32 font-bold text-2xl"
            >
              My page
              <hr class="border-gray-200 border-1" />
            </h1>
          </li>
          <li>
            <a href="{% url 'core:top' %}" class="hover:text-amber-800">
              <div class="inline-flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-6 h-6 mr-2"
                >
                  <path
                    d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"
                  />
                  <path
                    d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"
                  />
                </svg>

                Home
              </div>
            </a>
          </li>
          <li>
            <a
              href="{% url 'core:password_change' %}"
              class="hover:text-amber-800"
            >
              <div class="inline-flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-6 h-6 mr-2"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15.75 1.5a6.75 6.75 0 00-6.651 7.906c.067.39-.032.717-.221.906l-6.5 6.499a3 3 0 00-.878 2.121v2.818c0 .414.336.75.75.75H6a.75.75 0 00.75-.75v-1.5h1.5A.75.75 0 009 19.5V18h1.5a.75.75 0 00.53-.22l2.658-2.658c.19-.189.517-.288.906-.22A6.75 6.75 0 1015.75 1.5zm0 3a.75.75 0 000 1.5A2.25 2.25 0 0118 8.25a.75.75 0 001.5 0 3.75 3.75 0 00-3.75-3.75z"
                    clip-rule="evenodd"
                  />
                </svg>

                Change Password
              </div></a
            >
          </li>
          <li>
            <a
              href="{% url 'core:account_settings' %}"
              class="hover:text-amber-800"
            >
              <div class="inline-flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-6 h-6 mr-2"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12 6.75a5.25 5.25 0 016.775-5.025.75.75 0 01.313 1.248l-3.32 3.319c.063.475.276.934.641 1.299.365.365.824.578 1.3.64l3.318-3.319a.75.75 0 011.248.313 5.25 5.25 0 01-5.472 6.756c-1.018-.086-1.87.1-2.309.634L7.344 21.3A3.298 3.298 0 112.7 16.657l8.684-7.151c.533-.44.72-1.291.634-2.309A5.342 5.342 0 0112 6.75zM4.117 19.125a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75h-.008a.75.75 0 01-.75-.75v-.008z"
                    clip-rule="evenodd"
                  />
                  <path
                    d="M10.076 8.64l-2.201-2.2V4.874a.75.75 0 00-.364-.643l-3.75-2.25a.75.75 0 00-.916.113l-.75.75a.75.75 0 00-.113.916l2.25 3.75a.75.75 0 00.643.364h1.564l2.062 2.062 1.575-1.297z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M12.556 17.329l4.183 4.182a3.375 3.375 0 004.773-4.773l-3.306-3.305a6.803 6.803 0 01-1.53.043c-.394-.034-.682-.006-.867.042a.589.589 0 00-.167.063l-3.086 3.748zm3.414-1.36a.75.75 0 011.06 0l1.875 1.876a.75.75 0 11-1.06 1.06L15.97 17.03a.75.75 0 010-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>

                Settings
              </div>
            </a>
          </li>
          <li>
            <form method="post" action="{% url 'core:logout' %}">
              {% csrf_token %}
              <button type="submit" class="hover:text-amber-800">
                <div class="inline-flex">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-6 h-6 mr-2"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm10.72 4.72a.75.75 0 011.06 0l3 3a.75.75 0 010 1.06l-3 3a.75.75 0 11-1.06-1.06l1.72-1.72H9a.75.75 0 010-1.5h10.94l-1.72-1.72a.75.75 0 010-1.06z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Logout
                </div>
              </button>
            </form>
          </li>
        </ul>
      </aside>
    </div>
    <!-- list view of profile cards -->
    <div class="flex flex-col-reverse justify-center ml-64">
      {% for review in reviews reversed %}
      <div
        class="border-2 border-black shadow-md p-4 w-full my-4 relative hover:bg-slate-100"
      >
        <a href="{% url 'core:detail' id=review.id %}" class="flex">
          <img
            src="{{ review.image.url }}"
            alt="Review Image"
            class="max-w-sm max-h-xs mr-4"
          />
          <div class="flex-1">
            <strong>Created:</strong> {{ review.created_at }}
            <br />
            <strong>Menu:</strong> {{ review.menu }}
            <br />
            <strong>Restaurant:</strong> {{ review.restaurant.name }}
          </div>
        </a>
        <!-- parent div for delete/edit button -->
        <div class="absolute top-40 right-5">
          <div class="flex gap-2">
            <form
              action="{% url 'core:delete_review' id=review.id %}"
              method="POST"
            >
              {% csrf_token %}
              <button
                type="submit"
                class="bg-red-500 text-white px-4 py-2 text-sm rounded-full hover:bg-red-700"
              >
                Delete
              </button>
            </form>
            <a
              href="{% url 'core:edit_review' id=review.id %}"
              class="bg-green-500 text-white px-4 py-2 text-sm rounded-full mr-2 hover:bg-green-700"
            >
              Edit
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
