{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<header id="home" class="bg-yellow-300 py-3 px-16 fixed top-0 left-0 right-0 z-50">
  <nav class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5">
      <a href="http://127.0.0.1:8000/core/"><img src="{% static 'core/kebab.webp' %}"
        alt="Kebab" class="w-24 rounded-3xl hover:animate-pulse"></a>
      <p class="mt-2 text-3xl font-bold italic text-slate-900">
        Find best<span class="before:block before:absolute before:-inset-1 before:-skew-y-3
        before:bg-pink-500 relative inline-block mx-2">
        <span class="relative text-white">kebab</span></span>!
      </p>
    </div>
    <div>
      <div class="font-bold text-black my-5">
        <ul class="flex text-3xl font-bold italic space-x-10">
          <li><a href="{% url 'core:top' %}">Home</a></li>
          <li><a href="{% url 'core:top' %}#about">About</a></li>
          <li><a href="{% url 'core:contact' %}">Contact</a></li>
        </ul>
      </div>
      <div class="flex text-center justify-center">
        <ul>
          {% if user.is_authenticated %}
          <!-- fetch user from database -->
          <li class="font-bold">
            <p>Hi {{ user.username }}!</p>
            <a href="{% url 'core:logout' %}">Log Out</a>
          </li>
          {% else %}
          <li class="font-medium">
            <ul class="flex flex-row space-x-4 text-lg text-gray-600">
              <li><p class="">You are not logged in : </p></li>
              <li><a href="{% url 'core:login' %}"
                class="bg-white/50 p-1 rounded-md border-gray-400 border-2 hover:bg-green-200">
                Log In</a></li>
              <li><a href="{% url 'core:signup' %}"
                class="bg-white/50 p-1 rounded-md border-gray-400 border-2 hover:bg-green-200">
                Sign Up</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>


<main class="flex-1 mx-16 pt-36">

  <h1>This is an Image</h1>

  <h1>Upload an Image</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

</main>

{% endblock content %}