{% extends 'core/base.html' %} {% block content %} {% load static %}


<div class="mt-36">
  <h2 class="text-5xl font-bold text-center italic">"Hi, we're Amazing Kebab!"</h2>
  <div class="flex flex-col md:flex-row ml-20 mb-8 text-center md:text-left pt-10">
    <div class="md:w-1/3 flex-shrink-0 mx-auto md:mx-0 md:mr-10 shadow-lg flex">
      <img src="{% static 'core/2854507.jpg' %}" alt="kebab" class="w-auto rounded-lg object-cover object-center" height="280">
    </div>
    <div class="w-full md:w-2/3 pt-2 pr-32">
      <p class="text-lg mb-8">
        If you're a kebab enthusiast, you've come to the right place! <br> Our website is dedicated to providing you with the most comprehensive reviews of kebab restaurants in town. <br> By creating an account with us, you'll gain access to a wealth of information about menus, prices, and restaurant details that you need to make the best choices for your taste buds.
      </p>
      <div class="bg-gray-100 rounded-lg py-2 px-4">
        <p class="font-bold text-lg">What Makes Us Special</p>
        <ul class="list-disc pl-6">
          <li class="mb-3">
            <span class="font-bold">Menu and Price Information:</span> We provide you with the latest menu prices and the best deals, so you can enjoy your kebab experience without breaking the bank.
          </li>
          <li class="mb-3">
            <span class="font-bold">Unbiased Reviews:</span> Our users can leave reviews of their kebab experiences, giving you a information to help you make your decision.
          </li>
          <li class="mb-3">
            <span class="font-bold">Personalized Experience:</span> Create an account with us to keep track of your reviews, so you can always have the best kebab experience possible.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}