{% extends 'core/base.html' %} {% block content %} {% load static %}

<section
  class="container mx-auto mt-32 max-w-7xl px-4 pt- pb-1 max-h-500 h-200"
>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-0">
    <div
      class="bg-amber-600 shadow-lg p-4 md:col-span-2 rounded-tl-lg rounded-bl-lg"
    >
      <h2 class="text-2xl md:text-2xl font-bold mb-4 pt-4">
        Tell us what you like and what not
      </h2>
      <form action="{% url 'core:contact' %}" method="POST">
        {% csrf_token %}
        <div class="mb-4">
          <label for="id_name" class="font-bold text-lg md:text-xl"
            >Name:</label
          >
          {{ form.name }} {% if form.name.errors %}
          <p class="text-red-500">{{ form.name.errors }}</p>
          {% endif %}
        </div>
        <div class="mb-4">
          <label for="id_email" class="font-bold text-lg md:text-xl"
            >Email:</label
          >
          {{ form.email }} {% if form.email.errors %}
          <p class="text-red-500">{{ form.email.errors }}</p>
          {% endif %}
        </div>
        <div class="mb-6">
          <label for="id_message" class="font-bold text-lg md:text-xl"
            >Message:</label
          >
          {{ form.message }} {% if form.message.errors %}
          <p class="text-red-500">{{ form.message.errors }}</p>
          {% endif %}
        </div>
        <button
          type="submit"
          class="bg-amber-900 hover:bg-amber-600 text-white font-bold text-3xl md:text-4xl py-2 px-4 rounded-xl"
        >
          Send
        </button>
        <div class="mt-1"></div>
      </form>
    </div>
    <div
      class="shadow-lg p-0 md:col-span-1 h-full bg-amber-500 rounded-tr-lg rounded-br-lg"
    >
      <img
        src="{% static 'core/eating.jpg' %}"
        alt="Image"
        class="float-right bg-amber-500 opacity-60 h-full"
        style="max-width: 100%"
      />
    </div>
  </div>
</section>

{% endblock %}
