{% extends 'core/base.html' %}
{% block content %}
<div class="">
  <h1 class="">Contact</h1>
  <p class="">Feel free to drop us a message!</p>
  <div class="">
    <form action="{% url 'contact' %}" method="POST">
      {% csrf_token %}
      <h1>Contact</h1>
      <div class="content-center">
        <table class="mx-auto">
          {{ form.as_table }}
        </table>
      </div>
      <div>
        <input type="submit" value="Send"
        class=""/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
