{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<header id="home" class="bg-yellow-300 py-3 px-16 fixed top-0 left-0 right-0 z-50">
  <nav class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5">
      <a href="http://127.0.0.1:8000/core/"><img src="{% static 'core/kebab.webp' %}"
        alt="Kebab" class="w-24 rounded-3xl hover:animate-pulse"></a>
      <p class="mt-2 text-3xl font-bold italic text-slate-900">
        Find best<span class="before:block before:absolute before:-inset-1 before:-skew-y-3
        before:bg-pink-500 relative inline-block mx-2">
        <span class="relative text-white">kebab</span></span>!
      </p>
    </div>
    <div>
      <div class="font-bold text-black my-5">
        <ul class="flex text-3xl font-bold italic space-x-10">
          <li><a href="{% url 'core:top' %}">Home</a></li>
          <li><a href="{% url 'core:top' %}#about">About</a></li>
          <li><a href="{% url 'core:contact' %}">Contact</a></li>
        </ul>
      </div>
      <div class="flex text-center justify-center">
        <ul>
          {% if user.is_authenticated %}
          <!-- fetch user from database -->
          <li class="font-medium">
            <ul class="flex flex-row space-x-4 text-lg text-gray-600">
              <li><p>Hi {{ user.username }}!</p></li>
              <li><a href="{% url 'core:upload' %}"
                class="bg-white/50 p-1 rounded-md border-gray-400 border-2 hover:bg-green-200">
                Upload Image</a></li>
              <li><a href="{% url 'core:logout' %}"
                class="bg-white/50 p-1 rounded-md border-gray-400 border-2 hover:bg-green-200">
                Log Out</a></li>
            </ul>
          </li>
          {% else %}
          <li class="font-medium">
            <ul class="flex flex-row space-x-4 text-lg text-gray-600">
              <li><p class="">You are not logged in : </p></li>
              <li><a href="{% url 'core:login' %}"
                class="bg-white/50 p-1 rounded-md border-gray-400 border-2 hover:bg-green-200">
                Log In</a></li>
              <li><a href="{% url 'core:signup' %}"
                class="bg-white/50 p-1 rounded-md border-gray-400 border-2 hover:bg-green-200">
                Sign Up</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>


<main class="flex-1 mx-24 pt-40">

  <div class="bg-yellow-50/90 rounded-lg shadow-lg overflow-hidden">
    <div class="flex border-green-200 border-4">
      {% if review.image %}
        <div class="relative overflow-hidden w-1/2" style="padding-bottom: 45%">
          <div class="absolute inset-0">
            <img class="object-cover h-full w-full" src="{{ review.image.url }}"
              alt="{{ review.menu.menu }} image">
          </div>
        </div>
      {% endif %}
      <div class="px-8 py-4 w-1/2">
        <h1 class="text-4xl font-bold text-gray-700 mb-6">{{ review.menu.menu }}</h1>
        <h2 class="text-2xl font-bold text-pink-600">Price: {{ review.menu.price }} kr</h2>
        <h2 class="text-2xl font-bold text-pink-600 mb-3">Rating: {{ review.avg_rating }}</h2>
        <ul class="text-gray-700 text-lg font-semibold">
          <li class="text-gray-600 text-base font-normal mb-2">
            Reviewed at: {{ review.created_at|date:"Y-m-d" }}</li>
          <li>Restaurant: {{ review.restaurant.name }}</li>
          <li>Reviewer: {{ review.user.username }}</li>
          <li>Review: {{ review.review }}</li>
          <li class="text-gray-600 text-base font-normal mt-1">Like count: {{ review.like_count }}</li>
        </ul>
      </div>
    </div>
  </div>

</main>

{% endblock content %}