{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<header id="home" class="bg-yellow-300 py-3 px-16 fixed top-0 left-0 right-0 z-50">
  <nav class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5">
      <a href="http://127.0.0.1:8000/core/"><img src="{% static 'core/kebab.webp' %}"
        alt="Kebab" class="w-24 rounded-3xl hover:animate-pulse"></a>
      <p class="mt-2 text-3xl font-bold italic text-slate-900">
        Find best<span class="before:block before:absolute before:-inset-1 before:-skew-y-3
        before:bg-pink-500 relative inline-block mx-2">
        <span class="relative text-white">kebab</span></span>!
      </p>
    </div>
    <div>
      <div class="font-bold text-black my-5">
        <ul class="flex text-3xl font-bold italic space-x-10">
          <li><a href="{% url 'core:top' %}">Home</a></li>
          <li><a href="{% url 'core:top' %}#about">About</a></li>
          <li><a href="{% url 'core:contact' %}">Contact</a></li>
        </ul>
      </div>
      <div class="flex text-center justify-center">
        <ul>
          {% if user.is_authenticated %}
          <!-- fetch user from database -->
          <li class="font-medium">
            <ul class="flex flex-row space-x-4 text-lg text-gray-600">
              <li><p>Hi {{ user.username }}!</p></li>
              <li><a href="{% url 'core:upload' %}"
                class="bg-white/50 p-1 rounded-md border-gray-400 border-2 hover:bg-green-200">
                Upload Image</a></li>
              <li><a href="{% url 'core:logout' %}"
                class="bg-white/50 p-1 rounded-md border-gray-400 border-2 hover:bg-green-200">
                Log Out</a></li>
            </ul>
          </li>
          {% else %}
          <li class="font-medium">
            <ul class="flex flex-row space-x-4 text-lg text-gray-600">
              <li><p class="">You are not logged in : </p></li>
              <li><a href="{% url 'core:login' %}"
                class="bg-white/50 p-1 rounded-md border-gray-400 border-2 hover:bg-green-200">
                Log In</a></li>
              <li><a href="{% url 'core:signup' %}"
                class="bg-white/50 p-1 rounded-md border-gray-400 border-2 hover:bg-green-200">
                Sign Up</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<aside class="w-52 fixed left-0 bottom-0 z-20 h-screen bg-yellow-200 p-3 mt-2">
  
  <div class="pt-36">
    <form action="{% url 'core:top' %}" method="GET">
      {% csrf_token %}
      <label for="sort-by" class="font-bold text-lg">Sort by:</label>
      <select id="sort-by" name="sort-by" class="border-gray-400 border-2 rounded-sm">
        <option value="">-- Choices --</option>
        <option value="-created_at">Newest</option>
        <option value="created_at">Oldest</option>
        <option value="-avg_rating">Highest Rating</option>
        <option value="avg_rating">Lowest Rating</option>
        <option value="-menu__price">Highest Price</option>
        <option value="menu__price">Lowest Price</option>
      </select>
      <button type="submit" class="bg-white/50 px-1 rounded-sm border-gray-400
        border-2 hover:bg-green-200">Sort</button>
    </form>
  </div>

  <div class="grid grid-cols-2">
    <form action="{% url 'core:top' %}" method="GET">
      {% csrf_token %}
      <h2 class="mt-5 font-bold text-lg">Filter by:</h2>
      <label for="restaurant" class="font-semibold text-sm">Restaurant</label>
      <select id="restaurant" name="restaurant" class="border-gray-400 border-2 rounded-sm">
        <option value="">-- All --</option>
        {% for restaurant in restaurants %}
        <option value="{{ restaurant }}">{{ restaurant }}</option>
        {% endfor %}
      </select>
      <br>
      <label for="menu" class="font-semibold text-sm">Menu</label>
      <select id="menu" name="menu" class="border-gray-400 border-2 rounded-sm">
        <option value="">-- All --</option>
        {% for menu in menus %}
        <option value="{{ menu }}">{{ menu }}</option>
        {% endfor %}
      </select>
      <br>
      <label for="reviewer" class="font-semibold text-sm">Reviewer</label>
      <select id="reviewer" name="reviewer" class="border-gray-400 border-2 rounded-sm">
        <option value="">-- All --</option>
        {% for reviewer in reviewers %}
        <option value="{{ reviewer }}">{{ reviewer }}</option>
        {% endfor %}
      </select>
      <br>
      <button type="submit" class="bg-white/50 px-1 rounded-sm border-gray-400
        border-2 hover:bg-green-200 col-start-2 mt-2">Filter</button>
    </form>
  </div>
  
</aside>


<main class="flex-1 ml-56 pt-40">

  <div class="flex-1 mx-24 pt-5">
    <h1 class="text-4xl italic font-bold mb-4">
      <span class="before:block before:absolute before:-inset-1 before:-skew-y-3
        before:bg-pink-500 relative inline-block mx-2">
        <span class="relative text-white p-1">Best Price</span></span></h1>
    <div class="bg-yellow-50/90 rounded-lg shadow-lg overflow-hidden">
      <div class="flex border-green-200 border-4">
        {% if best.image %}
          <div class="relative overflow-hidden w-1/2" style="padding-bottom: 45%">
            <div class="absolute inset-0">
              <img class="object-cover h-full w-full" src="{{ best.image.url }}"
                alt="{{ best.menu.menu }} image">
            </div>
          </div>
        {% endif %}
        <div class="px-8 py-4 w-1/2">
          <h1 class="text-4xl font-bold text-gray-700 mb-6">{{ best.menu.menu }}</h1>
          <h2 class="text-3xl font-bold text-pink-600">Price: {{ best.menu.price }} kr</h2>
          <h2 class="text-3xl font-bold text-pink-600 mb-3">Rating: {{ best.avg_rating }}</h2>
          <ul class="text-gray-700 text-lg font-semibold">
            <li class="text-gray-600 text-base font-normal mb-2">
              Reviewed at: {{ best.created_at|date:"Y-m-d" }}</li>
            <li>Restaurant: {{ best.restaurant.name }}</li>
            <li>Reviewer: {{ best.user.username }}</li>
            <li>Review: </li>
            <li class="text-gray-600 text-base font-normal mt-1">Like count: {{ best.like_count }}</li>
          </ul>
          <div class="text-gray-600 bg-green-300/80 mx-20 text-center rounded py-1
            mt-5 hover:bg-yellow-300">
            <a href="{% url 'core:detail' id=best.id %}">Detail</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-10 mt-28">
    <h1 class="text-4xl italic font-bold mb-4">
      <span class="before:block before:absolute before:-inset-1 before:-skew-y-3
        before:bg-pink-500 relative inline-block mx-2">
        <span class="relative text-white p-1">Reviews</span></span></h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {% for review in reviews %}
      <div class="bg-yellow-50/90 rounded-lg shadow-lg overflow-hidden">
        {% if review.image %}
        <div class="relative overflow-hidden" style="padding-bottom: 56.25%">
          <div class="absolute inset-0">
            <img class="object-cover h-full w-full" src="{{ review.image.url }}"
            alt="{{ review.menu.menu }} image">
          </div>
        </div>
        {% endif %}
        <div class="p-4">
          <h2 class="text-lg font-bold text-gray-800">Menu: {{ review.menu.menu }}</h2>
          <h2 class="text-lg font-bold text-pink-600">Price: {{ review.menu.price }} kr</h2>
          <h2 class="text-lg font-bold text-pink-600">Rating: {{ review.avg_rating }}</h2>
          <p class="text-gray-500 text-sm mt-2">{{ review.created_at|date:"Y-m-d" }}</p>
          <p class="text-gray-500 text-sm">Reviewer: {{ review.user.username }}</p>
          <p class="text-gray-500 text-sm">Restaurant: {{ review.restaurant.name }}</p>
          <div class="text-gray-600 bg-green-300/80 mx-20 text-center rounded py-1
            mt-5 hover:bg-yellow-300">
            <a href="{% url 'core:detail' id=review.id %}">Detail</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="mt-28">
    <h1 class="text-4xl italic font-bold mb-4 mx-10">
      <span class="before:block before:absolute before:-inset-1 before:-skew-y-3
        before:bg-pink-500 relative inline-block mx-2">
        <span class="relative text-white p-1">About</span></span></h1>
    <div id="about" class="p-10 bg-yellow-50/90 rounded-lg shadow-lg mx-10 mb-5">
      <p class="text-lg mb-2 font-medium">
        This website is a review website focused on kebabs. <br>
        This mainly provide you with menu prices, reviews, restaurant information, <br>
        and ratings related to kebabs. Users who create an account can leave reviews as well. <br>
        Here's a brief overview of each of the website's features: <br>
      </p>
      <ul>
        <li><p class="font-bold underline mt-2 mb-1">● Menu Prices:</p>
          We will provide you with up-to-date menu prices for various kebab dishes
          from different restaurants.</li>
        <li>
          <p class="font-bold underline mt-2 mb-1">● Reviews:</p>
          You can leave reviews of their experiences at kebab restaurants, including
          comments on the food, service, and overall atmosphere.
        </li>
        <li>
          <p class="font-bold underline mt-2 mb-1">● Restaurant Information:</p>
          We offer you detailed information about kebab restaurants.
        </li>
        <li>
          <p class="font-bold underline mt-2 mb-1">● Ratings:</p>
          You can rate restaurants based on their overall experience, including the quality
            of the food, service, and atmosphere.
        </li>
        <li>
          <p class="font-bold underline mt-2 mb-1">● User Accounts:</p>
          You can create an account to leave reviews and save their favorite restaurants.
        </li>
      </ul>
    </div>
  </div>

</main>

{% endblock content %}