{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<header id="home" class="bg-yellow-300 py-3 px-16 fixed top-0 left-0 right-0 z-50">
  <nav class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5">
      <a href="http://127.0.0.1:8000/"><img src="{% static 'core/kebab.webp' %}" alt="Kebab"
      class="w-24 rounded-3xl hover:animate-pulse"></a>
      <p class="mt-2 text-3xl font-bold italic text-slate-900">
        Find best<span class="before:block before:absolute before:-inset-1 before:-skew-y-3
        before:bg-pink-500 relative inline-block mx-2">
        <span class="relative text-white">kebab</span></span>!
      </p>
    </div>
    <div>
      <div class="font-bold text-black my-5">
        <ul class="flex text-3xl font-bold italic space-x-10">
          <li><a href="{% url 'core:home' %}">Home</a></li>
          <li><a href="{% url 'core:home' %}#about">About</a></li>
          <li><a href="{% url 'core:contact' %}">Contact</a></li>
        </ul>
      </div>
      <div class="flex text-center justify-center">
        <ul>
          {% if user.is_authenticated %}
          <!-- fetch user from database -->
          <li class="font-bold">
            <p>Hi {{ user.username }}!</p>
            <a href="{% url 'core:logout' %}">Log Out</a>
          </li>
          {% else %}
          <li class="font-medium">
            <ul class="flex flex-row space-x-4 text-lg text-gray-600">
              <li><p class="">You are not logged in : </p></li>
              <li><a href="{% url 'core:login' %}"
                class="bg-white/90 p-1 rounded-md border-gray-400 border-2 hover:bg-green-200">
                Log In</a></li>
              <li><a href="{% url 'core:signup' %}"
                class="bg-white/90 p-1 rounded-md border-gray-400 border-2 hover:bg-green-200">
                Sign Up</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<aside class="w-48 fixed left-0 bottom-0 z-20 h-screen bg-yellow-200 p-3 mt-2">

  <div>
    <form action=""></form>
  </div>

</aside>


<main class="flex-1 ml-56 pt-36">

  <!-- content of home page like pictures, reviews etc -->
  <div class="m-10">
    <h1 class="text-3xl font-bold text-gray-600 mb-6">Recent Review</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {% for review in reviews %}
      <div class="bg-white rounded-lg shadow-lg overflow-hidden">
        {% if review.menu.image %}
        <div class="relative overflow-hidden" style="padding-bottom: 56.25%">
          <div class="absolute inset-0">
            <img class="object-cover h-full w-full" src="{{ review.menu.image.url }}"
            alt="{{ review.menu.menu }} image">
          </div>
        </div>
        {% endif %}
        <div class="p-4">
          <h2 class="text-lg font-bold text-gray-800">Menu: {{ review.menu.menu }}</h2>
          <h2 class="text-lg font-bold text-pink-600">Price: {{ review.menu.price }} kr</h2>
          <h2 class="text-lg font-bold text-pink-600">Rating: {{ review.total_rating }}</h2>
          <p class="text-gray-500 text-sm mt-2">{{ review.created_at|date:"Y-m-d" }}</p>
          <p class="text-gray-500 text-sm">Reviewer: {{ review.user.username }}</p>
          <p class="text-gray-500 text-sm">Restaurant: {{ review.restaurant.name }}</p>
          <div class="text-gray-600 bg-green-300/80 mx-20 text-center rounded py-1
            mt-5 hover:bg-yellow-300">
            <a href="{% url 'core:detail' id=review.id %}">Detail</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="about" class="p-10">
    <h1 class="text-4xl italic font-bold mb-4">
      <span class="before:block before:absolute before:-inset-1 before:-skew-y-3
        before:bg-pink-500 relative inline-block mx-2">
        <span class="relative text-white p-1">About</span></span></h1>
    <p class="text-lg mb-2 font-medium">
      This website is a review website focused on kebabs. <br>
      This mainly provide you with menu prices, reviews, restaurant information, <br> 
      and ratings related to kebabs. Users who create an account can leave reviews as well. <br> 
      Here's a brief overview of each of the website's features: <br>
    </p>
    <ul>
      <li><p class="font-bold underline mt-2 mb-1">● Menu Prices:</p>
        We will provide you with up-to-date menu prices for various kebab dishes
        from different restaurants.</li>
      <li>
        <p class="font-bold underline mt-2 mb-1">● Reviews:</p>
        You can leave reviews of their experiences at kebab restaurants, including
        comments on the food, service, and overall atmosphere.
      </li>
      <li>
        <p class="font-bold underline mt-2 mb-1">● Restaurant Information:</p>
        We offer you detailed information about kebab restaurants.
      </li>
      <li>
        <p class="font-bold underline mt-2 mb-1">● Ratings:</p>
        You can rate restaurants based on their overall experience, including the quality
          of the food, service, and atmosphere.
      </li>
      <li>
        <p class="font-bold underline mt-2 mb-1">● User Accounts:</p>
        You can create an account to leave reviews and save their favorite restaurants.
      </li>
    </ul>
  </div>

</main>

{% endblock content %}